*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.idea
.DS_Store
/build
/captures
.externalNativeBuild
/data/google-services.jsonapp/src/debug/res/values/google_maps_api.xml
